.shared-search-container {
  position: fixed;
  top: 0;
  left: 0;
  height: 85px;
  background: #fff;
  width: 100%;

  .form-inline.controls {
    .form-group {
      margin-right: 5px;
    }
  }
}

.included-search {
  padding-top: 85px;
}